.filme1{
  color: darkred;
}
.filme2{
  color: darkblue;
}
.remove{
  text-decoration: none;
}
.remove{
  text-decoration: none;
  color: seagreen;
  font-size: 20px;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}